<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule"
                 scriptProcessor="C:\Users\84826\AppData\Local\Programs\Python\Python313\python.exe|C:\Users\84826\AppData\Local\Programs\Python\Python313\Lib\site-packages\wfastcgi.py"
                 resourceType="Unspecified" />
        </handlers>
        <environmentVariables>
            <add name="WSGI_HANDLER" value="wsgi.main" />
        </environmentVariables>
    </system.webServer>
</configuration>
