select {
    color: white;
  }
  
  select option {
    color: black;
    background-color: white;
  }
  
  .multiselect__tags {
    background: transparent !important;
}
 .multiselect__single {
  background: transparent !important;
  color: white;
 }
 .multiselect__input {
  background: transparent !important;
  color: white;
 }
 .custom-multiselect .vs__placeholder {
  color: white !important;
}
/* Checked Style */
.styled-checkbox {
  transition: all 0.2s ease-in-out;
}
.styled-checkbox:hover {
  transform: scale(1.1);
}
